:root {
  --radius: 5px;

  --kilanka: #01e676;
  --kilanka-dark: #01d86f;
  --kilanka-darker: #01ca68;

  --complement: #fa432a;
  --complement-dark: #f92a0d;
  --complement-darker: #e42005;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 200px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 180px;
  margin: 10px 0px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid black;

  &:disabled  {
    cursor: none;
  }
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

button {
  width: 3rem;
  display: flex;
  margin: 5px 0;
  padding: 8px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius);
  transition: 0.1s all ease-in-out;
}

.start {
  background-color: var(--kilanka);
  &:not(.disabled):hover {
    cursor: pointer;
    background-color: var(--kilanka-dark);
  }
  &:not(.disabled):active {
    cursor: pointer;
    background-color: var(--kilanka-darker);
  }
}

.stop {
  background-color: var(--complement);
  &:not(.disabled):hover {
    cursor: pointer;
    background-color: var(--complement-dark);
  }
  &:not(.disabled):active {
    cursor: pointer;
    background-color: var(--complement-darker);
  }
}

.disabled {
  &:hover {
    pointer-events: none;
  }
  &:active {
    pointer-events: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
